#wrapper {
	height: 568px;
	width: 320px;
}

#statusView {
	margin: 5px;
	height: 30px;
}

.minorWarning {
	background-color: yellow;
}

.majorWarning {
	color: white;
	background-color: red;
}

#promptView, #inputView {
	height: 50px;
	width: 320px;
	margin: 60px 0px;
	text-align: center;
}

#inputView [type="text"]{
	width: 280px;
	margin-bottom: 30px;
}

#promptView {
	letter-spacing: 8px;
}

#playerListView {
	border-width: 4px 0px 0px 0px;
	border-color: #00000;
	border-style: solid;
}