!!!
html
	head
		title="Acronauts"
		script(src='/socket.io/socket.io.js')
		script(data-main='client' src='require.js')
		link(rel='stylesheet', href='/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
	body
		#wrapper